<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
  <div class="panel-body">

  <%= form_for @setting do  |f|  %>

    <div class="form-group">  
      <p><strong>Unlock Digit(s):</strong> commonly '0' or '9'. Use 'w' for pauses</p>
      <%= f.text_field :unlock_digits, :autofocus => true, :class => "form-control", :placeholder => "Unlock Digits" %></div>

    <div class="form-group">  
      <p><strong>Message:</strong> texted to recipient when door is unlocked</p>
      <%= f.text_field :message, :class => "form-control", :placeholder => "Message" %></div>

    <div class="form-group">  
      <p><strong>Recipient:</strong> message texted to this phone number when door is unlocked</p>
      <%= f.text_field :recipient, :class => "form-control", :placeholder => "Recipient" %></div>
    
    <div class="checkbox">  
      
      <%= f.label (:autounlock),'Auto-unlock? (if checked, Doorman will unlock your gate automatically)' %>
      <%= f.check_box :autounlock %></div>
         
    <div><%= f.submit "Save", :class => "btn btn-primary" %></div>
  
  <% end %>
</div>
</div>