<!DOCTYPE html>
<html>
<head>
  <title>Doorman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jumbotron-narrow", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
<div class="header">
  <ul class="nav nav-pills pull-right">
         
    <% if user_signed_in? %>
      
      <li><%= link_to "Profile", edit_user_registration_path %></li>     
    
      <% if current_user.setting != nil %>
        <li><%= link_to "Settings", edit_setting_path(current_user.setting.id) %></li>
      <% else %>
        <li><%= link_to "Settings", new_setting_path %></li>
      <% end %>
      <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>  
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="active"><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>
  <h3 class="text-muted">Doorman</h3>
</div>

  <%= notice %>
  <%= alert %>

<%= yield %>

  <div class="footer"> 
    
    <% if user_signed_in? %>
      <p>logged in as <strong><%= link_to current_user.email, edit_user_registration_path %></strong></p>
    <% else %>
      <p><%= link_to "Login", new_user_session_path %></p>
    <% end %>       
    
  </div>

</div>

</body>
</html>
